@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 50px;
    }
}

.ui-dialog-container {
    background: aliceblue !important;
    overflow: auto !important;
}

.ui-dialog {
    transform: none !important;
    height: auto;
    width: auto;
    padding: 10px;
}

.ui-dialog-titlebar > .title {
    font-weight: bold;
    padding: 10px;
    width: 50%;
    margin: 0 auto;
}